img {
  max-width:100%;
  width:auto;
  height:auto;
  display:block;justifyng-content:center;
}
 
main{
  background-color:black;
  color:white;
p {

}
h1 {
justifyng-content:center;
}

a {
  color:yellow;
}
