img {
  max-width:100%;
  width:auto;
  height:auto;
  display:block;justifyng-content:center;
}
 
h1 {
justifyng-content:center;
}

body{
  background-color:black;
  color:white;
}
p{
  width:auto;
  display:flex;


}
a {
  color:yellow;
}
