
*{
  background-color: bisque;
}
:root {
--background: blue; /* with back color applies easier */
}
header { /* Header englobes de whole element structure */
  background:var(--background);
  border: 1px solid red;
  text-align: end;
  position: fixed;
  width:100%
  z
}