
*{
  background-color:;
  
}
:root {
--background:rgb(0, 0, 0);
--color-font:white; /* with back color applies easier */
}
header { /* Header englobes de whole element structure */
  background:transparent;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border: 1px solid red;
  text-align: end;
  width:auto;
  position: relative;
  top:0; 
}

ul{
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
  
}

li{
  margin: 0;
  padding: 4px;
  list-style: none;
  justify-content: space-between;

}
body{
  margin: 0;
}

a{
  color: black;
  text-decoration: none;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:var(--background); 
  opacity:0.1;/* Adjust the alpha value (0.0 to 1.0) */
}
.cover {
  width:100%;
  height: 700px;
  object-fit:cover;
  object-position:center initial;
  margin:0px;
  padding:0px;
  opacity:0.99; /* aplica transparencia */  
  background: var(--background);
}
.about-me {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  background-color: rgb(31, 31, 31);
  color: var(--color-font);

}


.profile{
  width: 50%;
  margin: 0px;
  margin-bottom: 0px;
}
.opti{
  width: 100%;
  height: 600px;
  object-fit: cover;
  object-position:center top;

}

.intro-text{
 position: absolute;
 z-index: -2;
}
.about-text{
  width: 50%;
  margin: 0px;
  margin-top: 0px;
  margin-bottom: 0px;

}

.text-title{
  margin: 30px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.text {
  margin: 20px;
  margin-left: 40px;
  margin-right: 40px;
  font-size: 20px;
  text-align: justify; /* Jutifica el text */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}